body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #5E5E5E;
  min-height: 1000px;
  background: rgb(255,250,237); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255, 248, 231, 1) 0%, rgba(255, 240, 240, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255, 248, 231, 1)), color-stop(100%,rgba(255, 240, 240, 1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255, 248, 231, 1) 0%,rgba(255, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255, 248, 231, 1) 0%,rgba(255, 240, 240, 1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255, 248, 231, 1) 0%,rgba(255, 240, 240, 1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255, 248, 231, 1) 0%,rgba(255, 240, 240, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffaed', endColorstr='#fff2c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a {
  color: #626262;
}

.nav-pills>li.active>a {
  background-color: #626262;
}

.navbar {
	background-color: #FC6B6B;
	color: white;
  margin-bottom: 0px;
}

#navLink {
	cursor: pointer;
	color: white;
}

#cartIconDiv{
	text-align: right;
	height: 92px;
}

#navIcon {
	font-size: 25px;
	margin: 30px 0px 0px 0px;
}

#navLabel {
	font-size: 30px;
}

#homeIconDiv{
	text-align: left;
	height: 92px;
}

#mainJumbo {
  background: rgb(255, 227, 140);
}

.navTitle{
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-bottom: 25px;
  border: 4px solid white;
    box-shadow: 0px 0px 18px rgb(255, 227, 140);
}

.panel {
	padding: 0px 10px 0px 10px;
  border-radius: 0px;
}

.productTitle {
  color: whitesmoke;
  padding: 8px;
  background-color: rgb(51, 173, 183)
}

.nav-pills>li>a {
  border-radius: 0px;
}

.productImg {
	margin: 5px 0px 20px 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}
