<center><h2>Checkout</h2></center>
<center ng-show="cartCtrl.count < 1"><h3>Add items to your cart before checking out.</h3></center>
<div class="panel checkoutPanel" ng-hide="cartCtrl.count < 1">

  <!--  Checkout Form -->
  <form name="checkoutForm" ng-controller="CheckoutController as checkoutCtrl" ng-submit="checkoutForm.$valid && checkoutCtrl.sendPayment(checkoutCtrl.payment, checkoutForm)" novalidate>

    <!--  Live Preview -->
    <blockquote >
      <strong>{{checkoutCtrl.payment.cardNumber}} </strong> -
      {{checkoutCtrl.payment.month}}/
      {{checkoutCtrl.payment.year}}
      <span style="margin-left: 2px;" ng-show="checkoutForm.$valid" class="glyphicon glyphicon-ok-sign"></span>
    </blockquote>

    <fieldset class="form-group">
      <input type=text ng-model="checkoutCtrl.payment.cardNumber" class="form-control" pattern="[0-9]*" placeholder="Enter fake gift card number" required>
    </fieldset>
    <label>Card Expiration</label>
    <fieldset class="form-group">
      <div class="col-xs-5 col-sm-3  dateBox monthBox">
        <input class="form-control" ng-model="checkoutCtrl.payment.month" pattern="[0-9]{2}" type="text" placeholder="month (mm)" name="month" required>
      </div>
      <div class="col-xs-2 col-sm-1" style="max-width:15px; font-size: 23px;">/</div>
      <div class="col-xs-5 col-sm-3 dateBox">
        <input class="form-control" ng-model="checkoutCtrl.payment.year" pattern="[0-9]{4}" type="text" placeholder="year (yyyy)" name="year" required>
      </div>
      <div class="col-sm-5 pull-right" style="padding-right: 0px;">
        <input type="submit" class="btn btn-primary pull-right" ng-disabled="checkoutForm.$invalid" value="Submit Order" />
      </div>
    </fieldset>
  </form>

</div>
